* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}

.background {
    background-image: url("./Background.jpg");
    background-size: cover;
    padding: 0;
}
.header {
    padding: 15px 0;
    width: 100%;
    
}

.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.textos a{
    color:white;
    text-decoration: none;
}

ul {
    display: flex;
    width: 350px;
    justify-content: space-between;
    list-style: none;
}
.textos li {
    display: flex;
    margin: 2px px;
    color: #FFFF;
    align-items: center;
    transition: 0.6s;
    position: relative;
  }
  
  .textos li::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color:white;
    position: absolute;
    bottom: -3px;
    left: 0px;
    transition: 0.5s;
    border-radius: 2px;
  }
  .textos li:hover::after {
    width: 100%;
  }

li {
    color: white;
}




.banner {
    padding: 100px 100px;
}

.banner .containerB {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.banner p {
    width: 500px;
    color: #FFFFFF;
    font-size: 30px;
}

.banner b {
    color: #e3b062;
    text-shadow: -3px 1px 3px black;
}